.blur {
  filter: blur(4px);
}

.szary {
  filter: grayscale(100%);
}

img {
  transition: filter 0.3s ease;
  width: 50%;
}

button {
  width: 15%;
  height: 300%;
  margin: 1%;
  margin-left: 0.5%;
}
